@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model SweetSavory.Models.Flavor

<h3>Add a Flavor to the Database</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add Flavor" />
}