@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model SweetSavory.Models.Flavor

<h3>Treats that taste @Model.Name </h3>

@foreach (FlavorTreat join in Model.FlavorTreats)
{
  <p>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new {id = join.Treat.TreatId})</p>
}