@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model IEnumerable<SweetSavory.Models.Flavor>

@if (Model.Any())
{
  @foreach (Flavor flavor in Model)
  {
    <p>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId})</p>
  }
}
else
{
  <p>No Flavors Listed Yet</p>
}

<p>@Html.ActionLink("Add a Flavor", "Create", "Flavors")</p>