
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Flavors", "Index", "Flavors")</li>
    <li role="presentation">@Html.ActionLink("Treats", "Index", "Treats")</li>
    @* <li role="presentation">@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li role="presentation">@Html.ActionLink("Ingredients", "Index", "Ingredients")</li> *@
  </ul>