
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Login", "Index", "Home")</li>
    <li role="presentation">@Html.ActionLink("Flavors", "Index", "Flavors")</li>
    <li role="presentation">@Html.ActionLink("Treats", "Index", "Treats")</li>
  </ul>