@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model List<SweetSavory.Models.Flavor>

<h3>Welcome to Pierre's! Please feel free to look around...</h3>

<h1>Browse by Flavor:</h1>


@foreach (Flavor flavor in @Model)
{
  <br>@flavor.Name
}