@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model SweetSavory.Models.Treat

<h3>This @Model.Name tastes:</h3>

@foreach (FlavorTreat join in Model.FlavorTreats)
{
  <p>@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new {id = join.Flavor.FlavorId})</p>
}