@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model IEnumerable<SweetSavory.Models.Treat>

@if (Model.Any())
{
  @foreach (Treat treat in Model)
  {
    <p>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</p>
  }
}
else
{
  <p>No Treats Listed Yet</p>
}

<p>@Html.ActionLink("Add a Treat", "Create", "Treats")</p>